.dark {
    background-color: black;
}

.nav-bar {
    padding: 20px;
    text-align: center;

    a {
        color: rgb(150, 150, 150);
        text-decoration: none;

        &:hover {
            text-decoration:underline;
            color: white;
        }
    }

    .col-5 {
        text-align: right;
    }
}

.main {
    text-align: center;
    padding-top: 50px;

    form {
        padding-top: 20px;
    }
}

.search-button {
    background-color: rgb(91, 91, 91);
    border: rgb(91, 91, 91);
    padding: 10px;
    margin-top: 40px;
    color: white;
    border-radius: 8px;

    &:hover {
        color: white;
    }
}